*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    padding-left:30px;
    padding-right:30px;
    font-family: 'Spartan', sans-serif;
}

section.top{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-image: url('./images/bg-pattern-top-mobile.svg');
    
}

.productDescription{      
    margin-bottom: 30px;    
}

.top .productDescription h1{
    color:hsl(300, 43%, 22%);
    font-size:30px;
    margin-bottom: 20px;    
    text-align:center;

}

.top .productDescription p{
    text-align: center;
    color: hsl(303, 10%, 53%);
    line-height:25px;
    font-weight: 500;    
}

.reviewStars{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    width: 315px;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 15px; 
    border-radius: 5px;
}

.stars{
    height:16px;
    width:85px;
    background-image: url("./images/icon-star.svg");    
    margin-top: 15px;
    margin-bottom: 10px;
}

.reviewStars>p{
    color:hsl(300, 43%, 22%);
    font-weight: 700;
}

section.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("./images/bg-pattern-bottom-mobile.svg");
    margin-bottom:50px;   
}

.testimonialDiv{
    height: 300px;
    width: 315px;
    background-color: hsl(300, 43%, 22%);
    border-radius:10px;
    margin-bottom:20px;
    padding-left: 30px;
    color: hsl(0, 0%, 100%);    
}

.testmonialIdentification{
    display:flex;
    flex-direction:row;
    padding-top: 35px;
    padding-bottom: 30px;
}

.buyerPhoto{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right: 20px; 
}

.buyerName{
    font-weight: 700;
    padding-bottom:5px;    
}

.verifiedBuyer{
    color: hsl(333, 80%, 67%);
}

#coltonSmithPhoto{
    background-image: url("./images/image-colton.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

#ireneRobertsPhoto{
    background-image: url("./images/image-irene.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

#anneWallacePhoto{
    background-image: url("./images/image-anne.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

.testimonialParagraph{
    line-height: 25px;
    width: 90%;
}

@media (min-width: 1000px){

    section.top{
        flex-direction: row;
        align-items: flex-start;
        margin-top:0;        
        padding-top:80px;
        padding-left:80px;
        padding-right:80px;
        background-image: url('./images/bg-pattern-top-desktop.svg');
    }

    .productDescription{        
        margin-right: 40px;
        text-align:left;
        width:50%;
    }

    .top .productDescription h1{   
    text-align:left;
    font-size:48px;
    width: 100%;

}

    .top .productDescription p{
    text-align: left;
    width: 100%;    
    }

    
    .reviews{
        padding-left:40px;
        height: 300px;
        width:60%;      
        display:flex;
        flex-direction:column;        
    }

    .reviewStars{
        flex-direction:row;
        align-items:center;
        width: 400px;
        padding-left:20px;        
    }
    
    .reviewStars>p{
    margin-left: 25px;
    }

    .stars{
       
        margin:0; 
    }  

    .review1{
        display:flex;
        justify-content: flex-start;
    }

    .review2{
        display:flex;
        justify-content: center;   
    }

    .review3{
        display:flex;
        justify-content: flex-end;   
    }

    section.bottom{
        flex-direction:row;
        padding-left:80px;
        padding-right:80px;
        justify-content: space-between;
        background-image: url("./images/bg-pattern-bottom-desktop.svg");
        height:400px;
    }

    .container{
        width:32%;
        height:350px;
        
    }

    .container1{
        display:flex;
        align-items: flex-start;
    }

    .container2{
        display:flex;
        align-items: center;
    }

    .container3{
        display:flex;
        align-items: flex-end;
    }
}